{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<main class="flex flex-row lg:min-h-screen items-center justify-center">
    <section class="w-full max-w-[600px] px-6 flex flex-col items-center justify-center min-h-screen overflow-y-scroll max-h-screen py-9 scrollbar">
        <h1 class="text-7xl lg:text-8xl font-bold text-center">
            {% trans "Sign Up" %}
        </h1>
        <p class="text-center mt-10 font-semibold">
            {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Como passo final, por favor preencha o formulário a seguir:{% endblocktrans %}
        </p>
        {% url 'socialaccount_signup' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    </section>
    <section
        class="hidden lg:flex lg:flex-col lg:items-center lg:justify-center lg:flex-1 bg-[#7083D9] min-h-screen">
        <img
          src="{% static 'assets/svg/image1.svg' %}"
          alt="Ilustração"
          class="w-2xl"
        />
        <h2 class="text-4xl text-white">
          O primeiro passo para uma cidade limpa é seu
        </h2>
    </section>
</main>
{% endblock content %}
