{% load allauth %}
{{ attrs.errors }}
<p>
    {% if attrs.type == "textarea" %}
        <label for="{{ attrs.id }}">
            {% slot label %}
            {% endslot %}
        </label>
        <textarea {% if attrs.required %}required{% endif %}
                  {% if attrs.rows %}rows="{{ attrs.rows }}"{% endif %}
                  {% if attrs.disabled %}disabled{% endif %}
                  {% if attrs.readonly %}readonly{% endif %}
                  {% if attrs.checked %}checked{% endif %}
                  {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
                  {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
                  {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}>{% slot value %}{% endslot %}</textarea>
    {% else %}
        {% if attrs.type != "checkbox" and attrs.type != "radio" %}
            <label for="{{ attrs.id }}">
                {% slot label %}
                {% endslot %}
            </label>
        {% endif %}
        {% if attrs.type == "password" %}
            <div class="relative w-full mb-4">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="*************"
              class="w-full rounded-xl border-1 border-[#7083D9] py-4 pr-12 text-xl pl-5"
              required
              minlength="6"
            />
            <img
              id="btn-password"
              src="{% static 'assets/svg/eye.svg' %}"
              alt="Mostrar senha"
              class="cursor-pointer absolute right-4 top-1/2 transform -translate-y-1/2 h-6 w-6"
              onclick="showPassword()"
            />
          </div>

        {% else %}
        <input {% if attrs.required %}required{% endif %}
               {% if attrs.disabled %}disabled{% endif %}
               {% if attrs.readonly %}readonly{% endif %}
               {% if attrs.checked %}checked{% endif %}
               {% if attrs.name %}name="{{ attrs.name }}"{% endif %}
               {% if attrs.id %}id="{{ attrs.id }}"{% endif %}
               {% if attrs.placeholder %}placeholder="{{ attrs.placeholder }}"{% endif %}
               {% if attrs.autocomplete %}autocomplete="{{ attrs.autocomplete }}"{% endif %}
               {% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
               type="{{ attrs.type }}">
        {% endif %}%
        {% if attrs.type == "checkbox" or attrs.type == "radio" %}
            <label for="{{ attrs.id }}">
                {% slot label %}
                {% endslot %}
            </label>
        {% endif %}
    {% endif %}
    {% if slots.help_text %}
        <span class="">
            {% slot help_text %}
            {% endslot %}
        </span>
    {% endif %}
</p>
